/JavaApplication1/build
/JavaApplication1/nbproject
/JavaApplication1/*.xml
/JavaApplication1/*.mf
/Convertor/nbproject/private/
/Convertor/build/
/Sum_dif_prod/nbproject/private/
/Sum_dif_prod/build/